<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{ dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{dish.image}}" alt="{{dish.name}}">
      <md-card-content>
        <p>{{dish.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail',prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail',next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </md-card-actions>
    </md-card>
  </div>
  <div [hidden]="dish">
    <md-spinner></md-spinner> <h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex="40" *ngIf="dish">
    
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>Comments</h3>
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <md-list>      
          <md-list-item *ngFor="let cmt of dish.comments">
            <p md-line>{{cmt.comment}}</p>
            <p md-line>{{cmt.rating}} Stars</p>
            <p md-line>-- {{cmt.author}} {{cmt.date | date}}</p>
          </md-list-item>
          
          <md-list-item *ngIf="commentForm && commentForm.valid">
              <p md-line> {{commentForm.get('author').value}} </p>
              <p md-line> {{commentForm.get('rating').value}}</p>
              <p md-line>-- {{commentForm.get('comment').value}}</p>
          </md-list-item>
        
        </md-list>
        <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
          <p>
            <md-input-container class="full-width"
              dividerColor=" {{formErrors.author ? 'warn' : 'primary'}} ">
              <input mdInput formControlName="author" placeholder="Name" type="text" required>
              <md-hint>
                <span [hidden]="!(formErrors.author)">
                  {{formErrors.author}}
                </span>
              </md-hint>
            </md-input-container>
          </p>
          <p>
            <md-slider thumbLabel formControlName="rating" tickInterval="1" min="1" max="5" step="1" value="5"></md-slider>
          </p>
          <p>
            <md-input-container class="full-width"
              dividerColor=" {{formErrors.comment ? 'warn' : 'primary' }} ">
              <textarea mdInput formControlName="comment" placeholder="Your Comment" rows=12 required></textarea>
              <md-hint>
                <span [hidden]="!(formErrors.comment)">
                  {{formErrors.comment}}
                </span>
              </md-hint>
            </md-input-container>
          </p>
          <button type="submit" md-button class="background-primary text-floral-white"
            [disabled]="commentForm.invalid">Submit</button>
        </form>
        <p> {{commentForm.value | json}} {{commentForm.status | json}} </p>
      </md-card-content>
    </md-card>

    

  </div>

</div>
